.detalles {
    text-align: center;
    width: 40%;
    margin: 15px;
    background-color: #0DCAF0;
    color:#212529;
    text-align: justify;
    text-justify: inter-word;
}

.heart{
    margin-left: 10px;
}
.star{
    margin-left: 10px;
}

.heart:hover {
    background-color: gold;
    font-size: 20px;
  }

  .card{
      color:#0DCAF0;
      background-color:#212529;
  }
  
  .titulo:hover{
    color: white;
  }

  .resumen:hover{
    color: white;
  }