.detalles {
    width: 30%;
    margin-right: 100px;
    background-color: #0DCAF0;
    color:#212529;
    font-family: 'Kanit', sans-serif;
    border-color: #0DCAF0;
}

@media (min-width: 993px) {
    
  .detalles {
      width: 50%;
    }
    .heart{
      margin-left: -10px !important;   
  }
  }    

.heart{
    margin-left: 45px;
    font-size:25px;
}

  .card{
      color:#0DCAF0;
      background-color:#212529;
  }
  .titulo{
    font-family: 'Kanit', sans-serif;
  }
  .titulo:hover{
    color: white;
  }

  .resumen:hover{
    color: white;
  }

  .loading {
    text-align: center;
    color:#0DCAF0;
    font-size: 40px;
    margin-top: 25px;
  }

  .imgLoading{
    width: 200px;
    height: 200px;
    text-align: center;
    margin-top:30px;
}
.cargando{
    text-align: center;
}


.lopo{
  display:none;
}

