.movieDetails{
    padding:30px;
    background-color: #212529;
    text-align: center;
    color:#0DCAF0;
}
.imgMovie{
    width:100%;
}

.overview{
    font-size:20px;
    text-align: left;
    padding:2px;
}
.title{
    font-family: 'Kanit', sans-serif !important;
}
h3{
    text-align: left;
    font-family: 'Kanit', sans-serif !important;
}

.rating{
    text-align: left;
    font-size:20px;
}

.genres{
    text-align: left;
}

.genreting{
    display:block;
}

.goBack{
    font-family: 'Kanit', sans-serif;
    background-color:#0DCAF0;
    color: black;
    border-color: #0DCAF0;
}