.notFound {
  background-color: #080f28;
  text-align: center;
}
h1 {
  color: #0dcaf0;
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
}

.imgResponsive {
  width: 80%;
  height: auto;
}

@media (max-width: 992px) {
  .noMovieImg {
    width: 100%;
  }
}
